// 计时模式指针闪动动画
@keyframes shining {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// 计时模式结果弹出动画
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}

// 限时模式结果显示和隐藏动画
.wpm-enter-active {
  transition: all 0.5s ease;
}

.wpm-leave-active {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.wpm-enter-from {
  opacity: 0 !important;
  transform: translateY(80px);
}

.wpm-leave-to {
  opacity: 0 !important;
  transform: translateY(80px);
}

.word-enter-active {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.word-leave-active {
  transition: all 0.5s ease;
}

.word-enter-from {
  opacity: 0 !important;
  transform: translateY(80px);
}

.word-leave-to {
  opacity: 0 !important;
  transform: translateY(80px);
}

// 限时模式卡片动画
.card-move,
.card-enter-active,
.card-leave-active {
  transition: all 0.5s ease;
}

.card-enter-from {
  opacity: 0 !important;
  transform: translateX(200px);
}

.card-leave-to {
  opacity: 0 !important;
  transform: translateX(-200px);
}

.card-leave-active {
  position: absolute;
}

// 自定义主题色块

.bot-move,
.bot-enter-active,
.bot-leave-active {
  transition: all 0.5s ease;
}

.bot-enter-from,
.bot-leave-to {
  opacity: 0 !important;
  transform: translateX(-50px);
}