// 计时模式指针闪动动画
@keyframes shining {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// 计时模式结果弹出动画
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .5;
  }
}

// 限时模式结果显示和隐藏动画
.wpm-enter-active {
  transition: all 0.5s ease;
}

.wpm-leave-active {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.wpm-enter-from {
  opacity: 0 !important;
  transform: translateY(80px);
}

.wpm-leave-to {
  opacity: 0 !important;
  transform: translateY(80px);
}

.word-enter-active {
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

.word-leave-active {
  transition: all 0.5s ease;
}

.word-enter-from {
  opacity: 0 !important;
  transform: translateY(80px);
}

.word-leave-to {
  opacity: 0 !important;
  transform: translateY(80px);
}

// 限时模式卡片动画
.card-move,
.card-enter-active,
.card-leave-active {
  transition: all 0.5s ease;
}

.card-enter-from {
  opacity: 0 !important;
  transform: translateX(200px);
}

.card-leave-to {
  opacity: 0 !important;
  transform: translateX(-200px);
}

.card-leave-active {
  position: absolute;
}

// 自定义主题色块

.dot-move,
.dot-enter-active,
.dot-leave-active {
  transition: all 0.5s ease;
}

.dot-enter-from,
.dot-leave-to {
  opacity: 0 !important;
  transform: translateX(-50px);
}

// 加载界面动画
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }

}
@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }

}

.loading-move,
.loading-enter-active,
.loading-leave-active {
  transition: all 0.5s ease-in-out;
}

.loading-enter-from,
.loading-leave-to {
  opacity: 0 !important;
}