@import './animation.scss';


* {
    margin: 0;
    padding: 0;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: $bg;
    color: $text;
    transition: background 0.2s, color 0.2s;
}

/* 计时模式样式 */
.hide {
    display: none !important;
}

.waiting {
    animation: shining 1s infinite;
}

.wrong {
    color: $error;
    opacity: 1 !important;
}

.correct {
    color: $active;
    opacity: 1 !important;
}

.skip {
    color: $error;
}

.transport {
    opacity: 0 !important;
}

/* 限时模式样式 */
.correct-card {
    background-color: $active !important;
    color: $btnText !important;
}

.wrong-card {
    background-color: $error !important;
    color: $btnText !important;
}


/* 滚动条轨道 */
::-webkit-scrollbar {
    width: 8px;
}

/* 滚动条轨道背景 */
// ::-webkit-scrollbar-track {}

/* 滚动条thumb（拖动条） */
::-webkit-scrollbar-thumb {
    background: $active;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 滚动条thumb hover状态 */
// ::-webkit-scrollbar-thumb:hover {}


// 添加至quasar的brandColor
.text-active {
    color: $active !important;
}

.bg-active {
    background: $active !important;
}

.text-error {
    color: $error !important;
}

.bg-error {
    background: $error !important;
}

.text-bg {
    color: $bg !important;
}

.bg-bg {
    background: $bg !important;
}

.text-btnText {
    color: $btnText !important;
}

.bg-btnText {
    background: $btnText !important;
}

.text-text {
    color: $text !important;
}

.bg-text {
    background: $text !important;
}