@import './animation.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282c34;
    color: whitesmoke;
}

.hide {
    display: none !important;
}

.waiting {
    animation: shining 1s infinite;
}

.wrong {
    color: $alert-color;
    opacity: 1 !important;
}

.correct {
    color: $active-color;
    opacity: 1 !important;
}

.skip {
    color: $alert-color;
}

